<!DOCTYPE html>
<head></head>


<body>
  <p><%=@pirate.name%></p>
  <p><%=@pirate.height%></p>
  <p><%=@pirate.weight%></p>

  <% @ships.each do |ship|%>
    <p> Name: <%=ship.name%> </p>
    <p> Type: <%=ship.type%> </p>
    <p> Booty: <%=ship.booty%> </p>
  <%end%>
</body>
